
{% load static %}
{% load crispy_forms_tags %}
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="https://image.ibb.co/fOur3b/favicon.png"/>
 <link rel="stylesheet" type="text/css" href="{% static 'User/home.css' %}">
<meta name="theme-color" content="#1885ed">
  <title>Social Media Integration - Homepage</title>
</head>

<body>
    <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v11.0&appId=151537413607352&autoLogAppEvents=1" nonce="wDSzE4kb"></script>
<header class="header">
  <div class="container header__container">
<div class="header__logo"><img class="header__img" src="https://image.ibb.co/kcVou6/path3000.png"> <h1 class="header__title">Social Media Integration</span></h1></div>



  <div class="header__menu">
    <nav id="navbar" class="header__nav collapse">
      <ul class="header__elenco">
        <li class="header__el"><a href="#" class="header__link">Home</a></li>
        <li class="header__el"><a href="{% url 'profile' %}" class="header__link">Profile</a></li>
        <li class="header__el"><a href="{% url 'emailattachment' %}" class="header__link">Gmail</a></li>

        <li class="header__el"><a href="{% url 'user-oxford' %}" class="header__link">Oxford</a></li>
        <li class="header__el"><a href="{% url 'user-youtube' %}" class="header__link">Youtube</a></li>
        <li class="header__el"><a href="{% url 'user-instagram' %}" class="header__link">Instagram</a></li>
          <li class="header__el"><a href="{% url 'user-twitter' %}" class="header__link">Twitter</a></li>
        <li class="header__el"><a href="{% url 'user-auto' %}" class="header__link">Facebook</a></li>

        <li class="header__el header__el--blue"><a href="{% url 'user-logout' %}" class="btn btn--white">Logout →</a></li>
      </ul>
    </nav>
  </div>
    </div>
</header>

<div class="sect sect--padding-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
    <div class="site">
      <h1 class="site__title">Hello {{request.user}}</h1>
      <h2 class="site__subtitle">Welcome to the website</h2>

      <img class="site__img" src="https://image.ibb.co/c7grYb/image3015.png">
            <div class="fb-save"
    data-uri="https://shubhamsocialmediaintegration.herokuapp.com/home/">
  </div>
    </div>
    </div>
    </div>
  </div>
</div>



</body>

</html>