{% extends "User/base.html" %}
{% load socialaccount %}

{% block content %}

	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>Social Media Integration</h1>

		{% for message in messages %}
				<p style="text-align:center;" class="messages">{{message}}</p>
			{% endfor %}
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="#" method="POST">
					{% csrf_token %}
					<input class="text email" type="text" name="username" placeholder="Username" required="">
					<input class="text" type="password" name="password" placeholder="Password" required="">
					<input type="submit" value="LOGIN">
				</form>
				<p>Don't have an Account? <a href="{% url 'user-register' %}"> Register Now!</a></p>
				 <a href="{% provider_login_url 'google' %}" class="socdes">Login With Google</a>
				<br>
				    <a href="{% provider_login_url 'github' %}" class="btn btn-secondary socdes">
      				<i class="fa fa-github fa-fw"></i>
      				<span>Login with GitHub</span>
    				</a>
				<br>
				    <a href="{% url 'social:begin' 'twitter' %}" class="socdes">Login with Twitter</a>

				<p class="pdes">Don't Remember your Password?<br><a href="{% url 'password_reset' %}"> Forgot Password</a></p>
			</div>
		</div>

		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>

{% endblock %}