
<!--{% load static %}-->
<!--{% load crispy_forms_tags %}-->

<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--          {% if error_message %}-->
<!--          <div class="alert alert-primary" role="alert">-->
<!--            {{error_message}}-->
<!--          </div>-->
<!--          {% endif %}-->

<!--          {% if email_forme %}-->
<!--          <form method="POST" action ="" enctype="multipart/form-data">-->
<!--            {% csrf_token %}-->
<!--            {{email_form|crispy}}-->
<!--              <input type="text" placeholder="Tweet from here" name="search">-->
<!--          <button type="submit" class="btn btn-primary">Send Email</button>-->
<!--          </form>-->
<!--          {% endif %}-->
<!--</form>-->
<!--</body>-->
<!--</html>-->


{% load static %}
{% load crispy_forms_tags %}
<html>21</html>